extends ../../layout/default.pug

block title
  title mui测试

block append style
  link(type="text/css" rel="stylesheet" href="/mui-test/index.css")

block append script
  script(src="/mui-test/index.js")

block content
  div#app
